{
  "extends": "airbnb",
  "rules" : {
    "semi": [1, "never"],
    "no-extra-semi": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-string-refs": 0
  }
}