{
  "extends": "airbnb",
  "rules" : {
    "semi": [1, "never"],
    "no-extra-semi": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-string-refs": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "react/forbid-prop-types": 0
  }
}